/* You can add global styles to this file, and also import other style files */

@import './assets/styles/var.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $cor-fundo;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}